<div class='list_container' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('cine.jpg') %>)">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://api.freelogodesign.org/files/622cc9246ac64927b19a769e9d234a90/thumb/logo_200x200.png?v=0" %>
    <% end %>

    <button class="navbar-toggler" id="burger-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", lists_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "New List", new_list_path, class: "dropdown-item" %>
            <%= link_to "Delete List", list_path(@list), class: "dropdown-item" %>
            <%= link_to "Share", href="#social", class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <header>
    <div class=" card-large">
      <h1><%= @list.name %></h1>
    </div>
  </header>
  <div class="container_list">
    <div class="d-flex justify-content-between my-4">
      <div class ="btn_div">
        <button>
          <a href = "<%=  new_list_bookmark_path(@list) %>">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
              <circle cx="22" cy="22" r="22" class="redcirc" />
            </svg>
            <span>➕</span>
          </a>
        </button>
        <button id="delete_btn">
          <a data-confirm="Are you sure you want to remove this list" data-method="delete" href = "<%=  list_path(@list) %>">
            <svg class="red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
              <circle cx="22" cy="22" r="22" class="redcirc" />
            </svg>
            <span><i class="fas fa-trash-alt"></i></span>
          </a>
        </button> 
       
      </div>

    </div>
            <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small></span>
    
    <article class="row">
          <% @list.movies.each do |movie| %>
        <div class="card_style col-12 col-md-6 offset-lg-3">
            <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <div class="card__thumb">
            <a href="#">
                  <%= image_tag movie.poster_url, alt: "movie.title" %>
            </a>
          </div>
          <div class="card__date">
            <span class="card__date__day"><%= movie.rating %></span> <i class="fas fa-star"></i>
          </div>
          <div class="end">
            <div class="card__body">
              <div class="card__category"><a href="#"><%= @list.name %></a></div>
              <h2 class="card__title"><a href="#"><%= movie.title %></a></h2>
              <p class="card__description"><%= movie.overview %>
              </p>
            </div>
            <div class="card__footer">
              <div class="comment">
                <i class="fas fa-quote-left mr-2"></i>
                <small><%= bookmark.comment %></small> 
                <i class="fas fa-quote-right mr-2"></i>
              </div> 
              <div class="center">
                <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"} do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
          <% end %>
    </article>
  </div>
  <footer>
      <ul class="social" id="social">
        <li class="fb"><a href="https://fr-fr.facebook.com/"><%= icon('fab', 'facebook') %></a></li>
        <li class="insta"><a href="https://twitter.com/?lang=fr"><%= icon('fab', 'instagram') %></a></li>
        <li class="twitter"><a href="https://www.instagram.com/?hl=fr"><%= icon('fab', 'twitter') %></a></li>
        <li class="snap"><a href="https://www.snapchat.com/l/fr-fr/download"><%= icon('fab', 'snapchat') %></a></li>
      </ul>
      <p class="copyright"><%= icon('fas', 'copyright') %> Copyright by mango17i</p>
    </footer>
</div>
article row 